{% extends 'base.html' %} {% block container %}
<h2>Edit</h2>
<p>Edit a review that's been written.</p>
<form method="POST" action="{{ url_for('edit_post', mongoid=mongoid) }}">
  <p>Username: <input type="text" id="fname" name="fname" value="{{doc.name}}" /><br /></p>
  <p>
    Show:
    <input type="text" id="fshow" name="fshow" value="{{doc.show}}"><br />
    Rating:
    <input type="number" id="frating" name="frating" min="0" max="10" value="{{doc.rating}}" required><br />
    Review:
    <input type="text" id="freview" name="freview" value="{{doc.review}}"><br /></textarea>

  </p>
  <p>
    <a href="{{ url_for('read')}}">Cancel</a>
    <input type="submit" name="post-btn" value="Save" />
  </p>
</form>
{% endblock %}
